
:root{
	--padding: 25px;
	--centerText : center;
}
body {
	padding: var(--padding);
	
}
.title{
	text-align: var(--centerText);
}
.lastUpdate{
	text-align: var(--centerText);
}




.profilePicture{
	margin-top: -30px;
}

#imgtest{
	width: 220px;
	height: 300px;
	clip-path: circle();
}

.info{
	text-align: end;
}




